{% extends 'templates.html' %} 

{% block titulo %}Depuración Hardware - {{ hostname }}{% endblock %}

{% block contenido %}
<div class="boton-retroceso-container">
    <a href="{{ url_for('dispositivo.detalle_dispositivo', hostname=hostname) }}" class="boton-retroceso">
        &larr; Volver al Detalle del Dispositivo
    </a>
</div>

<h1>Página de Detalle de Hardware para {{ hostname }}</h1>

{% if hardware_info and hardware_info.error %}
    <p style="color: red;">ERROR: {{ hardware_info.error }}</p>
{% else %}
    <p style="color: green;">HARDWARE INFO RECIBIDA (Sin error):</p>
    <pre>{{ hardware_info | tojson(indent=2) }}</pre> {# Esto es Jinja2 para imprimir el JSON formateado #}
    <p>Intento de acceder al procesador: {{ hardware_info.Processor.Name if hardware_info.Processor and hardware_info.Processor.Name else 'N/A' }}</p>
{% endif %}
{% endblock %}